body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 171, 208);
  background: linear-gradient(135deg, rgb(255, 237, 171), rgb(234, 121, 170));
}

input {
  width: 300px;
  padding: 0px;
  font-size: 1em;
  margin: 10px 10px 10px 10px;
  border-radius: 4px;
  padding: 12px;
  border-color: rgba(0, 0, 0, 0.1); 
  background: #ffffff;
  box-shadow: 5px 5px 13px #d9d9d9, -5px -5px 13px #ffffff;
}

h1 {
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 50px;
	color: #c53460;
	margin-top: 0px!important;
	margin-bottom: 30px;
}
::placeholder {
	color: palevioletred;
}
input:focus, button:focus {
	outline: none;
}

.ToDo {
  text-align: center;
  width: 80vw;
  max-width: 768px;
  height: auto;
  margin: 40px auto;
  border-radius: 10px;
  background: #ffffff;
}

.ToDoInput {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToDo-Subheader {
  font-size: 1em;
  color: palevioletred;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 4px auto 20px;
}

.ToDo-Add {
  cursor: pointer;
  width: 120px;
  height: 30px;
  border-color: transparent;
  color: palevioletred;
  font-size: 1rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 3px 3px 15px #cccccc, -3px -3px 15px #ffffff;
  margin-left: 120px;
  margin-top: 1%;
}


.ToDo-Container {
  width: 80%;
  margin: 0 auto;
}

.ToDo-ErrorContainer {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1rem;
}